<launch>
    
    <!--- Sim Time -->
    <!-- <param name="/use_sim_time" value="true" /> -->
    <!-- <param name="/use_sim_time" value="false" /> -->

    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lego_loam)/launch/test.rviz" />

    <!--- TF -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="camera_init_to_map"  args="0 0 0 0  28  0 /map    /camera_init 10" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0 0 0 -1.570795 -1.570795 0        /camera /base_link   10" /> -->
 <env name="UGV_SDK_LIB_PATH" value="$(find load_pcd_map)/MapDataEngine/lib" />
  <!-- <node pkg="load_pcd_map" name="load_pcd_map_node" type="load_pcd_map_node" output="screen"> -->
 <!-- </node> -->


  <node pkg="load_pcd_map" name="map_engine_node" type="map_engine_node" output="screen">
  </node>

    <!-- <node pkg="lego_loam" type="imageProjection_with_prior"    name="imageProjection_with_prior"    output="screen">

       <param name="remove_range"  value="3.0" />
       <param name="groundscanind" type="int" value="5" />
       <param name="segtheta"  value="1.0472" />
       <param name="n_scan" type="int" value="16" />
       <param name="h_scan" type="int" value="2016" />
       <param name="ukfprior" type="string" value="/xxxxx" />

       <remap from="/velodyne_points" to="/lidar_points" />

    </node> -->

    <!--- LeGO-LOAM -->    
    <node pkg="lego_loam" type="imageProjection"    name="imageProjection"    output="screen">

       <param name="remove_range"  value="3.0" />
       <param name="groundscanind" type="int" value="5" />
       <param name="segtheta"  value="1.0472" />
       <param name="n_scan" type="int" value="16" />
       <param name="h_scan" type="int" value="2016" />

       <remap from="/velodyne_points" to="/lidar_points" />

    </node>

    <node pkg="lego_loam" type="featureAssociation" name="featureAssociation" output="screen">

       <param name="imu_topic" type="string" value="/imu/dat" />
       <param name="n_scan" type="int" value="16" />
       <param name="h_scan" type="int" value="2016" />
       <param name="yaw_init"  value="-148.32" />
       <param name="x_init"  value="170" />
       <param name="y_init"  value="27" />
       <param name="z_init"  value="8" />

    </node>

    <node pkg="lego_loam" type="mapOptmization"     name="mapOptmization"     output="screen">

       <param name="loopflag" type="bool" value="true" />
       <param name="imu_topic" type="string" value="/imu/dat" />
       <param name="mapinterval" type="double" value="0.3" />
       <param name="loop_distance"  value="20" />
       <param name="map_range"  value="500.0" />

    </node>

    <node pkg="lego_loam" type="transformFusion"    name="transformFusion"    output="screen">

    </node>

</launch>
