<launch>
    

    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lego_loam)/launch/test.rviz" />

    <!--- TF -->


    <!--- LeGO-LOAM -->    
    <node pkg="lego_loam" type="imageProjection"    name="imageProjection"    output="screen">

       <param name="remove_range"  value="0.0" />
       <param name="groundscanind" type="int" value="5" />
       <param name="segtheta"  value="1.0472" />
       <param name="n_scan" type="int" value="16" />
       <param name="h_scan" type="int" value="1800" />

    </node>

    <node pkg="lego_loam" type="VIOAssociation" name="VIOAssociation" output="screen">

       <param name="vio_att_topic" type="string" value="/vio_data_rigid1/att" />
       <param name="vio_pos_topic" type="string" value="/vio_data_rigid1/pos" />
       <param name="n_scan" type="int" value="16" />
       <param name="h_scan" type="int" value="1800" />
       <param name="YAW_INIT"  value="0.0" />

    </node>

    <node pkg="lego_loam" type="mapOptmization"     name="mapOptmization"     output="screen">

       <param name="loopflag" type="bool" value="true" />
       <param name="imu_topic" type="string" value="/imu/daa" />
       <param name="mapinterval" type="double" value="0.3" />
       <param name="loop_distance"  value="8" />
       <param name="map_range"  value="500.0" />
       <param name="number_keyframe"  value="50.0" />

    </node>

    <node pkg="lego_loam" type="transformFusion"    name="transformFusion"    output="screen">

    </node>

</launch>
